target/
w3c-testcases/.checkstyle
w3c-testcases/.classpath
w3c-testcases/.pmd
w3c-testcases/.project
w3c-testcases/.ruleset
w3c-testcases/.settings/
w3c-testcases/target/
xmlschema-bundle-test/.checkstyle
xmlschema-bundle-test/.classpath
xmlschema-bundle-test/.pmd
xmlschema-bundle-test/.project
xmlschema-bundle-test/.ruleset
xmlschema-bundle-test/.settings/
xmlschema-bundle-test/target/
xmlschema-core/.checkstyle
xmlschema-core/.classpath
xmlschema-core/.pmd
xmlschema-core/.project
xmlschema-core/.ruleset
xmlschema-core/.settings/
xmlschema-core/target/
xmlschema-eclipse/.checkstyle
xmlschema-eclipse/.classpath
xmlschema-eclipse/.pmd
xmlschema-eclipse/.project
xmlschema-eclipse/.ruleset
xmlschema-eclipse/.settings/
xmlschema-eclipse/target/
.project
.settings/
.svn*